.about_bnner img {
    display: block;
    width: 100%;
    height: auto;
}

.participants {
    padding-top: 23px;
    padding-bottom: 57px;
    text-align: center;
    .page_title {
        padding-bottom: 0;
        &:after {
            display: none;
        }
    }
    .description_block {
        max-width: 880px;
        margin: 34px auto 0;
        color: $secondColor;
        @include mediaFrom($size960) {
            font-size: 190%;
        }
    }
    .members_list {
        margin-top: 34px;
        position: relative;
        overflow: hidden;
        height: auto !important;
        ul {
            @extend %standardList;
            display: inline-block;
            font-size: 0;
            vertical-align: top;
            white-space: nowrap;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-perspective: 2000px;
            -ms-perspective: 2000px;
            perspective: 2000px;
            position: relative;
            &:before {
                @include psevdoAbs;
                left: 0;
                width: 100%;
                height: 8px;
                background: $siteColor;
                box-shadow: 0 4px 15px rgba($black, 0.05);
            }
            &.showed li {
                @include transStyle(rotateX(0));
            }
        }
        li {
            display: inline-block;
            vertical-align: top;
            padding: 0 $colPadding;
            width: 300 + 2*$colPadding;
            font-size: 1rem;
            white-space: normal;
            perspective: 2000px;
            perspective-origin: top left;
            @include transStyle(rotateX(90deg));
            @include torigin(50% 0%);
            @extend %noBlink;
            @include animStyle(all 0.75s);
            &:before {
                display: block;
                content: "";
                margin: 0 40px;
                border: solid $siteColor;
                border-width: 0 2px;
            }
            &:nth-child(4n + 1) {
                @include animDelay(0.4s);
                &:before {
                    height: 104px;
                }
            }
            &:nth-child(2n) {
                @include animDelay(0.2s);
                &:before {
                    height: 170px;
                }
            }
            &:nth-child(4n+3) {
                @include animDelay(0.6s);
                &:before {
                    height: 37px;
                }
            }
            &:nth-child(5n + 4) {
                @include animDelay(1s);
            }
            &:nth-child(5n) {
                @include animDelay(0.8s);
            }
        }
        .member_block {
            @include overHidden;
            padding-bottom: 70px;
            box-shadow: 0 4px 20px rgba($black, 0.15);
            width: 100%;
            &:hover .info_block {
                top: 0;
            }
        }
        .member_image {
            display: block;
            padding-bottom: 126.67%;
            border: 1px solid $disable;
            border-bottom: none;
            img {
                @extend %coverLayer;
                object-fit: cover;
            }
        }
        .info_block {
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            flex-direction: column;
            background: $lightText;
            color: $white;
            @include animStyle(top 0.5s);
        }
        .member_name {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 70px;
            min-height: 70px;
            margin-top: -70px;
            background: inherit;
            font-size: 240%;
            line-height: 30px;
            padding: 0 20px;
            position: relative;
            &:before {
                @include psevdoAbs;
                bottom: 100%;
                left: 50%;
                margin-left: -13px;
                width: 26px;
                height: 8px;
                border-style: solid;
                border-width: 0 13px 8px;
                border-color: $lightText transparent;
            }
        }
        .about_member {
            flex: 1;
            height: 50%;
            @include textOverflow(12, relative);
            margin: 20px 0;
            padding: 0 20px;
            text-align: left;
            font-size: 180%;
            line-height: 30px;
        }
        .member_link {
            align-self: flex-end;
            margin: 0 20px 20px;
            position: relative;
            font-size: 200%;
            line-height: 25px;
            padding-right: 18px;
            color: $hoverColor;
            padding-bottom: 4px;
            @include secondColorHover;
            &:before {
                position: absolute;
                overflow: hidden;
                left: 0;
                bottom: -4px;
                width: 100%;
                display: flex;
                height: 8px;
                align-items: center;
                justify-content: flex-end;
                font-size: 0.8rem;
            }
        }
    }
    .scroll-x {
        position: relative;
        max-width: 870px;
        width: 90%;
        margin: 90px auto 0;
        div {
            box-sizing: border-box;
            position: absolute;
            display: block;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 6px;
            height: 12px;
            right: 0;
            &.scroll-element_outer {
                background: $lightest;
            }
            &.scroll-bar {
                cursor: pointer;
                background: rgba($lightText, 0.8);
                @include siteBgHover;
                z-index: 2;
            }
        }
    }
    @include mediaRange($size960, $size1200) {
        .scroll-x {
            margin-top: 75px;
            div {
                height: 10px;
            }
        }
    }
    @include mediaRange($size768, $size960) {
        .scroll-x {
            margin-top: 60px;
            div {
                height: 8px;
            }
        }
    }
    @include mediaRange($size576, $size768) {
        .scroll-x {
            margin-top: 50px;
            div {
                height: 8px;
            }
        }
    }
    @include mediaRange($size576, $size960) {
        .members_list {
            ul {
                &:before {
                    height: 7px;
                }
            }
            li {
                width: 280px;
                &:before {
                    margin: 0 30px;
                }
                &:nth-child(4n + 1) {
                    &:before {
                        height: 85px;
                    }
                }
                &:nth-child(2n) {
                    &:before {
                        height: 140px;
                    }
                }
                &:nth-child(4n+3) {
                    &:before {
                        height: 28px;
                    }
                }
            }
            .member_block {
                padding-bottom: 65px;
            }
            .member_name {
                height: 65px;
                min-height: 65px;
                margin-top: -65px;
                font-size: 200%;
                line-height: 27px;
            }
            .about_member {
                font-size: 160%;
                line-height: 22px;
            }
            .member_link {
                font-size: 160%;
                line-height: 20px;
                padding-right: 14px;
            }
        }
    }
    @include mediaTo($size576) {
        .scroll-x {
            margin-top: 40px;
            div {
                height: 6px;
            }
        }
        .members_list {
            ul {
                &:before {
                    height: 6px;
                }
            }
            li {
                width: 250px;
                &:before {
                    margin: 0 20px;
                }
                &:nth-child(4n + 1) {
                    &:before {
                        height: 65px;
                    }
                }
                &:nth-child(2n) {
                    &:before {
                        height: 90px;
                    }
                }
                &:nth-child(4n+3) {
                    &:before {
                        height: 20px;
                    }
                }
            }
            .member_block {
                padding-bottom: 60px;
            }
            .member_name {
                height: 60px;
                min-height: 60px;
                margin-top: -60px;
                font-size: 180%;
                line-height: 24px;
            }
            .about_member {
                font-size: 120%;
                line-height: 17px;
            }
            .member_link {
                font-size: 140%;
                line-height: 18px;
                padding-right: 10px;
            }
        }
    }
}