.faq_inner {
    
    @include mediaFrom($size960) {
        padding-top: 40px;
        padding-bottom: 57px;
    }
    @include mediaRange($size576,$size960) {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    @include mediaTo($size576) {
        padding-top: 25px;
        padding-bottom: 45px;
    }
}