.video_section {
    background: $disable;
    .video_block {
        @extend %standardWide;
    }
    @include mediaFrom($size960) {
        padding: 26px 0;
        .video_block {
            max-width: 850px;
            margin: 0 auto;
        }
    } 
}