.main_section {
    @include overHidden;
    background: $lightest;
    padding: 68px 0 47px;
    .section_inner {
        max-width: $headerWidth + 2 * $containerPadding;
        margin: 0 auto;
        display: flex;
    }
    .section_block {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 $containerPadding;
        display: flex;
        flex-direction: column;
        &:first-child {
            align-items: flex-start;
            .section_title:after {
                right: -10px;
            }
            .products_list li {
                &:nth-child(2) {
                    margin-left: -20px;
                }
                &:nth-child(3) {
                    margin-left: -20px;
                }
            }
        }
        &:last-child {
            align-items: flex-end;
            .section_title:after {
                left: -10px;
            }
            .products_list {
                flex-direction: row-reverse;
                li {
                    &:nth-child(2) {
                        margin-right: -20px;
                    }
                    &:nth-child(3) {
                        margin-right: -20px;
                    }
                }
            }
            .see_more {
                margin-right: 25px;
            }
        }
    }
    .section_title {
        color: $siteColor;
        position: relative;
        @include animStyle(opacity 2s);
        margin-bottom: 40px;
        a {
            @include standardHover;
        }
        &:after {
            @include psevdoAbs;
            bottom: -14px;
            border-top: 4px solid;
            box-shadow: 0 4px 15px rgba($black,0.05);
            width: 75vw;
            @include animStyle(width 2s);
            @include animDelay(1s);
        }
    }
    .products_list {
        @extend %standardList;
        display: flex;
        li {
            @include torigin(center);
            @include animStyle(transform 1s);
            position: relative;
            &:first-child {
                width: 180px;
                @include animDelay(1.5s);
            }
            &:nth-child(2) {
                width: 220px;
                @include animDelay(1.25s);
            }
            &:nth-child(3) {
                width: 290px;
                @include animDelay(1s);
            }
            &:hover {
                z-index: 5;
            }
        }
    }
    .see_more {
        @include animStyle(opacity 1s);
        @include animDelay(2s);
        a {
            display: inline-block;
            @extend %middleText;
            color: $lightText;
            @include standardHover;
            position: relative;
            margin-top: 45px;
            &:before {
                position: absolute;
                overflow: hidden;
                left: 0;
                right: -25px;
                display: flex;
                font-size: 1rem;
                justify-content: flex-end;
                bottom: -5px;
            }
        }
    }
    &:not(.showed) {
        .section_title {
            opacity: 0;
            &:after {
                width: 0;
            }
        }
        .see_more {
            opacity: 0;
        }
        .section_block {
            &:first-child .products_list li {
                @include transStyle(translate3d(-50vw,0,0));
            }
            &:last-child .products_list li {
                @include transStyle(translate3d(50vw,0,0));
            }
        }
    }
    @include mediaRange($size1200,$size1440) {
        .section_block {
            &:first-child {
                .products_list li {
                    &:nth-child(2) {
                        margin-left: -80px;
                    }
                    &:nth-child(3) {
                        margin-left: -80px;
                    }
                }
            }
            &:last-child {
                .products_list {
                    li {
                        &:nth-child(2) {
                            margin-right: -80px;
                        }
                        &:nth-child(3) {
                            margin-right: -80px;
                        }
                    }
                }
            }
        }
    }
    @include mediaTo($size1200) {
        .product_block .comics_name {
            font-size: 130%;
            line-height: 17px;
            min-height: 65px;
        }
    } 
    @include mediaRange($size960, $size1200) {
        padding: 50px 0;
        .see_more a:before {
            right: -20px;
        }
        .section_block:last-child .see_more {
            margin-right: 20px;
        }
        .products_list {
            li {
                &:first-child {
                    width: 120px;
                }
                &:nth-child(2) {
                    width: 146px;
                }
                &:nth-child(3) {
                    width: 190px;
                }
            }
        }
    }
    @include mediaRange($size768, $size960) {
        padding: 40px 0;
        .products_list {
            li {
                &:first-child {
                    width: 115px;
                }
                &:nth-child(2) {
                    width: 128px;
                }
                &:nth-child(3) {
                    width: 145px;
                }
            }
        }
        .section_block {
            &:first-child {
                .products_list li {
                    &:nth-child(2) {
                        margin-left: -40px;
                    }
                    &:nth-child(3) {
                        margin-left: -40px;
                    }
                }
            }
            &:last-child {
                .products_list {
                    li {
                        &:nth-child(2) {
                            margin-right: -40px;
                        }
                        &:nth-child(3) {
                            margin-right: -40px;
                        }
                    }
                }
                .see_more {
                    margin-right: 15px;
                }
            }
        }
        .see_more a:before {
            right: -15px;
        }
    }
    @include mediaFrom($size768) {
        .products_list {
            align-items: flex-end;
        }
        .section_block {
            &:first-child {
                .products_list li {
                    .product_block {
                        @include transStyle(rotate(-10deg));
                    }
                }
            }
            &:last-child {
                .products_list {
                    li {
                        .product_block {
                            @include transStyle(rotate(10deg));
                        }
                    }
                }
               
            }
        }
    }
    @include mediaTo($size768) {
        padding: 25px 0;
        .section_inner {
            flex-wrap: wrap;
        }
        .section_block {
            flex: 0 0 100%;
            max-width: 100%;
            &:first-child {
                .products_list {
                    align-items: center;
                    li {
                        &:nth-child(2) {
                            margin-left: -15.7%;
                        }
                        &:nth-child(3) {
                            margin-left: -20.7%;
                        }
                    }
                }
            }
            &:last-child {
                margin-top: 40px;
                .see_more {
                    margin-right: 10px;
                }
                .products_list {
                    align-items: center;
                    li {
                        &:nth-child(2) {
                            margin-right: -15.7%;
                        }
                        &:nth-child(3) {
                            margin-right: -20.7%;
                        }
                    }
                }
            }
        }
        .products_list {
            align-items: center;
            li {
                &:first-child {
                    width: 40.4%;                    
                    min-width: 40.4%;
                }
                &:nth-child(2) {
                    width: 45.7%;                    
                    min-width: 45.7%;
                }
                &:nth-child(3) {
                    width: 50.7%;                    
                    min-width: 50.7%;
                }
            }
        }
        .see_more a {
            margin-top: 25px;
            &:before {
                right: -10px;
            }
        }
        &:not(.showed) {
            .section_block {
                &:first-child .products_list li {
                    @include transStyle(translate3d(-100vw,0,0));
                }
                &:last-child .products_list li {
                    @include transStyle(translate3d(100vw,0,0));
                }
            }
        }
    }
}