.create_page {
    .create_section {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        .btns_section {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .guide_link {
        @extend %standardBtn;
        float: right;
    }
    .comics_tree {
        flex: 0 0 430px;
        max-width: 430px;
        background: $fieldBg;
        padding: 25px 0;
        height: 768px;
        @include animStyle(all 0.5s);
        @include overHidden;
        &.closed {
            max-width: 36px;
            .branches_list {
                overflow: hidden;
                > li {
                    padding-right: 27px;
                }
            }
        }
        .tree_inner {
            height: 100%;
            width: 430px;
            float: right;
            padding-left: 6px;
            padding-right: 11px;
        }
        .toggle_btn {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            top: 43px;
            right: 5px;
            z-index: 2;
            width: 20px;
            height: 20px;
            color: $siteColor;
            @include standardHover;
            @extend %textUnSelect;
            &:before {
                display: block;
                content: "";
                width: 4px;
                height: 4px;
                border-radius: 50%;
                border-top: 4px solid;
                box-shadow: 0 -7px, 0 7px;
            }
        }
    }
    .tree_list {
        display: flex;
        flex-direction: column;
        height: 100%;
        > .version_block {
            background: $lightText;
            color: $white;
            margin-bottom: 13px;
            height: 56px;
            margin-right: 25px;
            .sublist_toggle {
                width: 40px;
                &:before {
                    border-width: 6px 6px 0;
                    width: 12px;
                    height: 6px;
                    
                }
            }
            .version_name {
                font-size: 270%;
                line-height: 35px;
            }
            &:not(.clicked) .sublist_toggle:before {
                @include transStyle(rotate(-90deg));
            }
            .action_btns {
                padding-right: 8px;
                * {
                    margin-right: 8px;
                }
            }
        }
    }
    .branches_list {
        flex: 1;
        width: 100%;
        height: 50%;
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
        color: $lightText;
        @extend %standardList;
        @include customScroll(8px, auto, thin, 4px, 4px, rgba($lightText,0.2), $lightText);
        ul {
            @extend %standardList;
            li {
                padding-top: 2px;
                margin-left: 28px;
            }
            .action_btns {
                padding-right: 2px;
                * {
                    margin-right: 5px;
                }
            }
        }
        > li {
            padding-right: 17px;
            &:not(:first-child) {
                padding-top: 2px;
            }   
            > .version_block .action_btns {
                * {
                    margin-right: 7px;
                    margin-left: 1px;
                }
            }
        }
        .sublist_toggle {
            width: 28px;
            &:before {
                width: 10px;
                height: 5px;
                border-width: 5px 5px 0;
            }
        }
        .version_block {
            border: 1px solid;
            height: 38px;
            @extend %all300;
            &:not(.clicked) {
                border-color: transparent;
                background: $lightest;
            }
            &.clicked {
                background: $white;
                .sublist_toggle {
                    background: $lightText;
                    color: $white;
                    &:before {
                        @include transStyle(rotate(-90deg));
                    }
                }
            }
            &.current {
                color: $white;
                border-color: transparent;
                background: $secondColor;
                .action_btns * {
                    background: $hoverColor;
                    color: $secondColor;
                    @include siteColorHover;
                }
                .sublist_toggle {
                    background: transparent !important;
                }
            }
        }
        .version_name {
            font-size: 180%;
            line-height: 23px;
        }
        
    }
    .version_block {
        display: flex;
        &:first-child:last-child {
            .sublist_toggle {
                display: none;
            }
            .version_name {
                border: none;
                margin-left: 1px;
            }
        }
    }
    .sublist_toggle {
        display: flex;
        cursor: pointer;
        @extend %textUnSelect;
        align-items: center;
        justify-content: center;
        @include standardHover;
        &:before {
            display: block;
            content: "";
            border-style: solid;
            border-left-color: transparent;
            border-right-color: transparent;
            @include animStyle(transform 0.3s);
        }
    }
    .version_name {
        flex: 1;
        width: 40%;
        border-left: 1px solid;
        padding: 0 15px;
        @include overHidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        align-self: center;
        a {
            color: inherit;
            @extend %noBlink;
            @include opacityHover;
        }
    }
    .action_btns {
        align-self: center;
        display: flex;
        align-items: center;
        * {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            color: inherit;
            font-size: 120%;
            cursor: pointer;
            @include secondLightRHover;
            &:before {
                display: block;
            }
        }
        .icon_delete:before {
            font-size: 116.7%;
        }
    }
    .upload_section {
        flex: 1;
        width: 50%;
        height: 768px;
        border: 1px solid $lightText;
        background: $white;
        padding: 18px 14px 35px 44px;
        .section_inner {
            display: flex;
            flex-direction: column;
            height: 100%;
            position: relative;
            overflow-y: auto;
            overflow-x: hidden;
            @include customScroll(8px, auto, thin, 4px, 4px, rgba($lightText,0.2), $lightText);
            padding-right: 20px;
        }
        .title_label {
            font-size: 200%;
            line-height: 26px;
            color: $lightText;
            margin-bottom: 20px;
        }
        .title_text {
            font-size: 160%;
            line-height: 20px;
            color: $siteColor;
        }
        .attach_block {
            margin-top: 26px;
            max-width: 820px;
            position: relative;
            &.moving {
                @include animStyle(all 1s);
            }
           
            @extend %noBlink;
            img {
                display: block;
                width: 100%;
                @extend %noBlink;
            }
            > .attach_label {
                display: block;
                @include overHidden;
                cursor: pointer;
                @include opacityHover;
                input {
                    @extend %coverLayer;
                    opacity: 0;
                    z-index: 1;
                    
                }
                .attach_btn {
                    display: block;
                    @extend %textUnSelect;
                    color: $lightText;
                    background: $lightest;
                    position: relative;
                    padding-bottom: 63.4%;
                    font-size: 2000%;
                    
                    &:before {
                        @extend %coverLayer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            .actions_block {
                position: absolute;
                z-index: 3;
                left: 12px;
                top: 12px;
                &.opened .action_toggle {
                    background: secondColor;
                }
                &.showed .action_toggle {
                    background: $secondColor;
                }
            }
            .action_toggle {
                @extend %textUnSelect;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                font-size: 240%;
                color: $white;
                background: $siteColor;
                @include standardBgHover;
                cursor: pointer;
            }
            .actions_list {
                position: absolute;
                overflow: hidden;
                top: 65px;
                background: $white;
                border-radius: 0 14px 14px 14px;
                box-shadow: 0 10px 15px rgba($black,0.05);
                min-width: 100%;
                display: none;
                white-space: nowrap;
                @extend %standardList;
                z-index: 10;
                a,
                span {
                    display: flex;
                    align-items: center;
                    font-size: 200%;
                    line-height: 26px;
                    color: $siteColor;
                    @extend %textUnSelect;
                    cursor: pointer;
                    @include secondColorHover;
                    &:before {
                        display: block;
                        min-width: 35px;
                    }
                }
                label {
                    display: block;
                    @include overHidden;
                    color: $siteColor;
                    cursor: pointer;
                    @include secondColorHover;
                    input {
                        @extend %coverLayer;
                        opacity: 0;
                        z-index: 2;
                    }
                }
                li {
                    padding: 0 27px;
                    &:not(:first-child) {
                        margin-top: 22px;
                    }
                }
                &:before,
                &:after {
                    display: block;
                    content: "";
                    height: 19px;
                }
            }
            &:first-child:last-of-type .move_btn {
                display: none;
            }
            &:first-child .move_up,
            &:last-of-type .move_down {
                background: $disable;
                pointer-events: none;
            }
            &.moveable {
                z-index: 1;
                img {
                    opacity: 0.5;
                    @include animStyle(opacity 0.5s);
                }
            }
        }
        .video_block {
            @include overHidden;
            padding-bottom: 56.25%;
            video {
                @extend %coverLayer;
                object-fit: cover;
            }
            .video_screen {
                @extend %coverLayer;
                cursor: pointer;
                @extend %all300;
                background: rgba($textColor,0.6);
                z-index: 1;
                @include opacityHover;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    opacity: 0.4;
                    @extend %noBlink;
                    
                }
                &:before {
                    @include psevdoAbs();
                    pointer-events: none;
                    width: 10%;
                    padding-bottom: 10%;
                    background: url('images/play.svg') no-repeat;
                    background-size: 100%;
                    background-position: center;
                    z-index: 5;
                    left: 50%;
                    top: 50%;
                    min-width: 45px;
                    min-height: 45px;
                    @include transStyle(translate3d(-50%,-50%,0));
                }
            }
            &.playing .video_screen {
                opacity: 0;
                pointer-events: none;
                z-index: -1;
            }
        }
        .move_btns {
            position: absolute;
            z-index: 10;
            left: 50%;
            top: 60px;
            margin-left: -20px;
            span {
                @extend %textUnSelect;
                @extend %iconElement;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 50%;
                font-size: 120%;
                background: $lightText;
                color: $white;
                margin: 10px 0;
                @include standardBgHover;
                &:before {
                    content: "\e901";
                }
            }
            .move_up:before {
                @extend %horizontalRotate;
            }
        }
        .attach_error {
            display: block;
            margin-top: 10px;
            color: $error;
            font-size: 140%;
            line-height: 18px;
        }
        .add_attach {
            @extend %textUnSelect;
            margin-top: 20px;
            display: inline-flex;
            align-items: center;
            vertical-align: top;
            white-space: nowrap;
            padding: 13px 25px;
            color: $lightText;
            cursor: pointer;
            @include secondLightRHover;
            font-size: 200%;
            line-height: 26px;
            background: rgba($lightest,0.4);
            border-radius: 9px;
            &:before {
                display: block;
                font-size: 90%;
                margin-left: 8px;
                order: 2;
            }
        }
        .field_block {
            max-width: 820px;
        }
        .error_hint:before {
            display: none;
        }
    }
    .save_btn_block {
        display: flex;
        justify-content: flex-end;
        padding-right: 70px;
        color: $white;
        padding-top: 20px;
        margin-top: auto;
        .save_btn {
            display: block;
            padding: 6px 39px;
            font-size: 190%;
            line-height: 24px;
            border-radius: 19px 19px 0 19px;
            color: inherit;
            background: $lightText;
            @include secondBgHover;
            border: none;
        }
    }
    @include mediaTo($size1200) {
        .upload_section {
            padding: 20px 5px 20px 15px;
            .save_btn_block {
                padding-right: 0;
            }
        }
    }
    @include mediaRange($size960,$size1200) {
        .comics_tree {
            max-width: 360px;
            flex: 0 0 360px;
            .tree_inner {
                width: 360px;
            }
            .toggle_btn {
                top: 38px;
            }
        }
        .tree_list > .version_block {
            height: 48px;
            .version_name {
                font-size: 220%;
                line-height: 30px;
            }
        }
        .branches_list {
            .version_name {
                font-size: 160%;
                line-height: 20px;
            }
            .version_block {
                height: 32px;
            }
            .sublist_toggle {
                width: 24px;
            }
        }
        .upload_section {
            .attach_block > .attach_label .attach_btn {
                font-size: 1200%;
            }
        }
    }
    @include mediaTo($size960) {
        .create_section {
            position: relative;
        }
        .comics_tree {
            position: absolute;
            top: 0;
            left: 0;
            max-width: 30px;
            flex: none;
            z-index: 10;
            height: 640px;
            .tree_inner {
                width: 320px;
            }
            .branches_list {
                overflow: hidden;
                > li {
                    padding-right: 22px;
                }
            }
            &.closed {
                max-width: 320px;
                .branches_list {
                    overflow-y: scroll;
                    > li {
                        padding-right: 12px;
                    }
                }
            }
            .toggle_btn {
                top: 34px;
                right: 0;
                width: 30px;
            }
        }
        .tree_list > .version_block {
            height: 40px;
            margin-right: 20px;
            .sublist_toggle {
                width: 30px;
            }
            .version_name {
                font-size: 180%;
                line-height: 27px;
            }
            .action_btns {
                padding-right: 0;
            }
        } 
        .branches_list {
            .sublist_toggle {
                width: 20px;
            }
            .version_name {
                font-size: 140%;
                line-height: 18px;
            }
            .version_block {
                height: 28px;
            }
        }
        .upload_section {
            height: 640px;
            margin-bottom: 20px;
            margin-left: 30px;
            .title_label,
            .attach_block .actions_list a, 
            .attach_block .actions_list span,
            .add_attach {
                font-size: 160%;
            }
            .title_text  {
                font-size: 140%;
            }
            .add_attach {
                padding: 10px 15px;
            }
            .attach_block {
                .action_toggle {
                    width: 40px;
                    height: 40px;
                    font-size: 180%;
                }
                .actions_list  {
                    top: 50px;
                    &:before,
                    &:after {
                        height: 10px;
                    }
                    li {
                        padding: 0 15px;
                        &:not(:first-child) {
                            margin-top: 16px;
                        }
                    }
                    a,
                    span {
                        &:before {
                            min-width: 28px;
                        }
                    }
                }
            } 
        }
    }
    @include mediaRange($size768,$size960) {
        .comics_tree,
        .upload_section {
            height: 640px;
        }
        .upload_section .attach_block > .attach_label .attach_btn {
            font-size: 1600%;
        }
    }
    @include mediaRange($size480,$size768) {
        .comics_tree,
        .upload_section {
            height: 560px;
        }
        .upload_section .attach_block > .attach_label .attach_btn {
            font-size: 1200%;
        }
    }
    @include mediaTo($size480) {
        .comics_tree,
        .upload_section {
            height: 480px;
        }
        .upload_section {
            .attach_block > .attach_label .attach_btn {
                font-size: 800%;
            }
            .move_btns {
                top: 40px;
                span {
                    width: 30px;
                    height: 30px;
                    font-size: 88%;
                }
            }
        } 
    }
    @include mediaTo($size360) {
        .create_section {
            margin-left: -$containerPadding;
            margin-right: -$containerPadding;
        }
    }
}

