@import 'public/select';
@import 'public/jquery.fancybox';
@import 'public/main';
@import 'public/comicsCreate';
.notif_message {
    font-size: 150%;
    line-height: 1.75em;
    margin-bottom: 13px;
    color: #a0baf5;
    text-align: end;
}

.ErrorCurrent {
    border: 3px solid #ff0000!important;
    background: #d6dae4!important;
    color: red!important;
}