@import 'public/select';
@import 'public/main';
@import 'public/sign';
.nicknamexisterror,
.emailxisterror {
    font-size: 140%!important;
    color: #F62D2D!important;
    position: sticky!important;
}