.footer {
    opacity: 0;
    @extend %opacity300;
    background: $darkText;
    &_top {
        color: $white;
        .info_block {
            margin: 0 auto;
            font-size: 190%;
            line-height: 30px;
            text-align: center;
        }
        .kasa_info {
            display: flex;
            margin-top: 90px;
            padding: 90px 0;
            border-top: 1px solid $lightText;
            .image_block {
                margin-right: 20px;
                img {
                    display: block;
                    width: 180px;
                }
            }
            .info_block {
                flex: 1;
                max-width: 814px;
                align-self: flex-end;
            }
        }
        .partners_section {
            padding-top: 30px;
            .info_block {
                max-width: 995px;
                padding-top: 40px;
            }
        }
        .partners_list {
            @extend %standardRowList;
            justify-content: space-between;
            align-items: center;
            li {
                padding: 0 $colPadding;
                margin-top: 50px;
            }
            img {
                display: block;
                max-width: 230px;
                max-height: 190px;
            }
        }
    }
    &_subtitle {
        font-size: 300%;
        line-height: 1.3em;
        font-family: $bold;
        text-align: center;
    }
    &_middle {
        position: relative;
        overflow: hidden;
        padding-top: 30px;
        font-size: 190%;
        line-height: 24px;
        &:before {
            display: block;
            content: "";
            padding-bottom: 13%; 
        }
        .waves {
            span {
                display: block;
                width: 100%;
                position: absolute;
                left: 0;
                height: 100%;
                background-size: 100% auto;
                background-position: left top;
                background-repeat: no-repeat;
                &:before {
                    display: block;
                    content: "";
                    height: 100%;
                    width: 100%;
                    margin-top: 15%;
                }
                &.yellow_wave {
                    top: 0;
                    @include animStyle(transform 1s);
                    &:before {
                        background: $hoverColor;
                    }
                }
                &.pink_wave {
                    top: 2.24vw;
                    z-index: 1;
                    @include animStyle(transform 0.9s);
                    @include animDelay(0.3s);
                    &:before {
                        background: $secondColor;
                    }
                }
                &.blue_wave {
                    top: 3.33vw;
                    z-index: 2;
                    @include animStyle(transform 0.9s);
                    @include animDelay(0.6s);
                    &:before {
                        background: $siteColor;
                    }
                }
                &.white_wave {
                    top: 5vw;
                    z-index: 3;
                    @include animStyle(transform 0.8s);
                    @include animDelay(0.9s);
                    align-items: flex-end;
                    &:before {
                        display: block;
                        content: "";
                        height: 100%;
                        width: 100%;
                        background: $white;
                        margin-top: 20%;
                    }
                }
            }
            &:not(.showed) {
                span {
                    @include transStyle(translate3d(0,100%,0));
                }
                + .middle_inner {
                    opacity: 0;
                }
            }
        }
        .middle_inner {
            position: relative;
            z-index: 5;
            @include animStyle(opacity 0.5s);
            @include animDelay(1.2s);
            padding-bottom: 40px;
        }
        .page_container {
            display: flex;
            align-items: flex-start;
        }
    }
    .logo_block {
        margin-right: 80px;
        img {
            display: block;
            width: 433px;
        }
    }
    &_menu,
    &_contacts {
        flex: 1;
    }
    &_menu {
        @extend %standardList;
        li {
            padding-right: 40px;
            &:not(:first-child) {
                margin-top: 12px;
            }
            a {
                display: inline-block;
                vertical-align: top;
                color: $lightText;
                @include standardHover;
            }
        }
    }
    .contacts_subtitle {
        color: $siteColor;
        padding-bottom: 5px;
    }
    &_contacts {
        ul {
            @extend %standardList;
            color: $lightText;
        }
        li {
            margin-top: 12px;
        }
        a,span {
            display: inline-flex;
            vertical-align: top;
            color: inherit;
            &:before {
                display: block;
                min-width: 30px;
                padding: 2px;
                font-size: 2rem;
                color: $siteColor;
            }
        }
        a {
            @include standardHover;
        }
    }
    &_bottom {
        padding: 11px 0;
        background: $lightText;
        color: $disable;
        font-size: 140%;
        line-height: 18px;
        a {
            color: inherit;
            @include standardHover;
        }
        .developer,
        .copyrights {
            max-width: 50%;
            padding: 0 $colPadding;
        }
        .developer {
            margin-left: auto;
        }
    }
    @include mediaRange($size960,$size1200) {
        .logo_block {
            margin-right: 40px;
            img {
                width: 380px;
            }
        }
        &_top {
           .kasa_info {
                padding: 60px 0;
                margin-top: 60px;
            } 
            .partners_list img {
                max-width: 200px;
                max-height: 160px;
            }
        } 
    }
    @include mediaTo($size960) {
        &_middle .page_container {
            flex-wrap: wrap;
            justify-content: center;
        }
        .logo_block {
            margin-right: 0;
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 30px;
            img {
                margin: 0 auto;
            }
        }
        &_menu,
        &_contacts {
            text-align: center;
            max-width: 360px;
        }
        &_bottom {
            padding: 14px 0;
            font-size: 130%;
            line-height: 17px;
            .copyrights,
            .developer {
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center;
            }
            .developer {
                margin-top: 20px;
            }
        }
        &_contacts {
            padding-left: 20px;
        }
        &_menu li {
            padding-right: 20px;
        }
    }
    @include mediaRange($size576,$size960) {
        .logo_block {
            margin-right: 20px;
            img {
                width: 320px;
            }
        }
        &_top {
           .kasa_info {
                padding: 60px 0;
                margin-top: 60px;
                .image_block img {
                    width: 160px;
                }
            } 
            .info_block {
                font-size: 160%;
                line-height: 27px;
            }
            .partners_list {
                li {
                    flex: 0 0 50%;
                    max-width: 50%;
                    img {
                        margin: 0 auto;
                        max-width: 160px;
                        max-height: 120px;
                    }
                }
            }
            padding-bottom: 50px;
        } 
        &_subtitle {
            font-size: 240%;
        }
    }
    @include mediaTo($size576) {
        .logo_block img {
            width: 200px;
        }
        &_menu,
        &_contacts {
            flex: 0 0 100%;
            max-width: 100%;
        }
        &_menu li {
            padding-right: 0;
        }
        &_contacts {
            padding-left: 0;
            margin-top: 50px;
        }
        &_top {
            .kasa_info {
                 padding: 30px 0 0;
                 margin-top: 30px;
                 flex-wrap: wrap;
                 .image_block {
                     flex: 0 0 100%;
                     max-width: 100%;
                     margin-right: 0;
                     img {
                        width: 130px;
                        margin: 0 auto;
                    }
                    margin-bottom: 10px;
                 }
             } 
             .info_block {
                 font-size: 140%;
                 line-height: 25px;
             }
             .partners_list {
                 li {
                     flex: 0 0 50%;
                     max-width: 50%;
                     img {
                         margin: 0 auto;
                         max-width: 100px;
                         max-height: 80px;
                     }
                 }
             }
             padding-bottom: 50px;
         } 
         &_subtitle {
             font-size: 200%;
         }
    }
}

.web .footer_contacts a:hover:before,
.touch .footer_contacts a:active:before {
    color: inherit;
}