//font families
$regular: "bainsley";
$bold: "bainsley-bold";
$regularS: "segoeui";
$boldS: "segoeui-bold";

//media query sizes
$size320: 320px;
$size360: 360px;
$size400: 400px;
$size480: 480px;
$size576: 576px;
$size600: 600px;
$size640: 640px;
$size720: 720px;
$size768: 768px;
$size960: 960px;
$size1024: 1024px;
$size1200: 1200px;
$size1366: 1366px;
$size1440: 1440px;
$size1600: 1600px;

//colors
$black: #000000;
$black33: #333333; 
$gray66: #666666;
$gray99: #999999;
$grayE5: #e5e5e5;
$white: #ffffff;
$creamyF2:#f2f2f2;
$error: #F62D2D;
$siteColor: #2E2D84;
$secondColor: #A64AC9;
$hoverColor: #FBCD0A;
$textColor: #282828;
$darkText: #343D4B;
$lightText: #5F7BBC;
$bgColor: #F9FAFB;
$disable: #C2C6D1;
$lightest: #D6DAE4;
$menuBorder: #0C1622;
$nameBg: #F7F9FF;
$fieldBg: #EEF0F6;

//social icons original color
$facebookColor: #3b5998;
$twitterColor: #00acee;
$youtubeColor: #c4302b;
$behanceColor: #053eff;
$linkedinColor: #0e76a8;
$okColor: #ed812b;
$pinterestColor: #c8232c;
$vkColor: #4c75a3;
$tiktokColor: #EE1D52;
$telegramColor: #0088cc;
$instagramColor: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);

//sizes
$containerWidth: 1170px;
$headerWidth: 1680px;
$containerPadding: 20px;
$colPadding: 15px;
$rowMargin: -$colPadding;


